@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
	Range of use – developed system can be used for easy and quick search of events
	based on various criteria and filters, based on the user's own interests
	in order to ensure that the user has the most relevant information.
</p>